<!DOCTYPE html>
{% extends 'app/base.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tìm kiếm</title>
</head>
<body>

{% block register %}
    <h5>Kết quả tìm kiếm: {{searched}} </h5> <br/>
<!--    {% for key in keys %}-->
<!--      {{key}} <br/>-->
<!--    {% endfor %}-->

<div class="row" style="width:100%">

    {% for product in keys %}
  <div class="col-lg-3">
    <img class="thumbnail" src="{{product.ImageURL}}" alt="">
    <div class="box-element product">
      <h6><strong>{{product.name}}</strong></h6>
      <hr>
       <button data-product={{product.id}} data-action='add' class="btn btn-outline-secondary add-btn update-cart">Mua hàng</button>
      <a href="#" class="btn btn-outline-warning">Chi tiết</a>
      <h4 class="price">{{product.price | floatformat:3}}đ</h4>
    </div>
  </div>
   {% endfor %}

</div>

{% endblock register %}
</body>
</html>